MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

PORT=9000

CLOUD_NAME=
API_KEY=
API_SECRET=

JWT_SECRET=

APP_DOMAIN=http://localhost:9000

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
