body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    background-color: rgb(223, 222, 221);
}



h1{
    color: rgb(20, 20, 158);
    font-size: 5rem;
}

p{
    font-size: 2rem;
    margin-bottom: 1rem;
}